@font-face {
    font-family: Italiana-Regular;
    src: url('../fonts/Italiana-Regular.woff') format('woff'),
        url('../fonts/Italiana-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: LatoLatin-Medium;
    src: url('../fonts/LatoLatin-Medium.eot');
    src: url('../fonts/LatoLatin-Medium.woff') format('woff'),
        url('../fonts/LatoLatin-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: LatoLatin-Medium;
}

h1 , h2, .italiana{
    font-family: Italiana-Regular;
}